<div class="container">
  <div class="row">
    <div class="col-sm-12">  
      <h1>User Management System</h1>
      <div class="col-sm-7">
      <ul class="nav justify-content-center">
          
          <li class="nav-item">
              <a routerLink="#" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Home</a> 
          </li> &nbsp;
          <li class="nav-item">
              <a routerLink="users" class="btn btn-light btn-sm" role="button" routerLinkActive="active">User List</a> 
          </li> &nbsp;
          <li class="nav-item">
              <a routerLink="user/add" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Add User</a>
          </li> &nbsp;
          <li class="nav-item">
            <a routerLink="files" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Files</a>
          </li> &nbsp;
          <li class="nav-item">
            <a routerLink="mails" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Mails</a>
          </li> &nbsp;
          <li class="nav-item">
            <a routerLink="registraion" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Registration</a>
          </li> &nbsp;
          <li class="nav-item">
            <a routerLink="loginpage" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Login</a>
          </li> &nbsp;
          <li class="nav-item">
            <a routerLink="#" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Logout</a>
          </li>
      </ul>
    </div> 
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>